<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Dashboard API Routes (BAL)</title>
</head>
<body>
    <div class="container">
        <div class="col-md-8">
            <h5>API Routes</h5>
            <ul>
                <li>Filter API: <a href="/api/v1/filter">https://sales-dashboard-huud.onrender.com/api/v1/filter</a> (GET)</li>
                <li>Login API: <a href="/api/v1/auth">https://sales-dashboard-huud.onrender.com/api/v1/auth</a> (POST)</li>
                <li>Create User: <a href="/api/v1/create-user">https://sales-dashboard-huud.onrender.com/api/v1/create-user</a> (POST)</li>
            </ul>

        </div>
    </div>
</body>
</html>